
    <div class="about-page-wrap">
        <div class="com-cnt page-content">
            <p>
                广州市金正邦生物科技有限公司前身成立于1996年，早年主要致力于代理国内外品牌保健食品，曾经做为东阿阿胶、福牌阿胶、吉林敖东等多家知名企业的总代理商，有着非常丰富的市场经验，随着市场的转型，我公司专门致力于研发生产代用茶、花草茶等产品，除了自主品牌玉叶金花外更承接各类袋泡茶、花草茶、口服液及胶囊剂型的来料加工及贴牌生产业务，本公司拥有完善管理体系及通过国家代用茶花草茶等QS认证，质量保证、价格便宜，欢迎咨询<br/>
                &nbsp;</p>
            <img alt="" src="../../uploads/20190515/2098333966_1122534636.jpg"/>
            <img alt="" src="../../uploads/20190515/2099471863_1122534636.jpg"/>
            <img alt="" src="../../uploads/20190515/2098354279_1122534636.jpg"/>
            <img alt="" src="../../uploads/20190515/2098354262_1122534636.jpg"/>
            <img alt="" src="../../uploads/20190515/101099254_1122534636.jpg"/>
            <img alt="" src="../../uploads/20190515/101105708_1122534636.jpg"/>
            <img alt="" src="../../uploads/20190515/101106223_1122534636.jpg"/>

        </div>
    </div>