<div class="breadcrumb-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 bcid-cat">{$title}</div>
            <div class="col-md-9 col-sm-8 location">
                <!--<i class="fa fa-map-marker"></i>&nbsp;
                <span>当前位置：
                    <a href="../../index.htm">主页</a> >
                    {foreach $system['nav_list'] as $value}
                    <a href="{:url(implode('/',$system['nav_list']))}">{$value}</a> >
                    {/foreach}
                    <a href="../../index.htm">主页</a> >
                    <a href="../chanpin/index.htm">产品展示</a> >
                    <a href="index.htm">礼品装</a> >
                </span>-->
            </div>
        </div>
    </div>
</div>