<div class="for-bottom-padding"></div>
<footer class="footer footer-shop" id="footer-sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 foot-about">
                <div class="fot-box"> <h3 class="fot-title dark-title"><a href="a/about/index.htm" >关于我们</a></h3>
                    <div class="f-about">
                        <p> <b> {$system['about_bottom']}</b></p>
                    </div>
                    <a href="{$system['about_bottom_url']}"  class="btn btn-primary btn-icon-right">了解更多
                        <div class="btn-icon"><i class="fa fa-long-arrow-right"></i></div>
                    </a> </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 foot-nav">
                <div class="fot-box">
                    <h3 class="fot-title">快捷导航</h3>
                    <ul class="x-hover-box">
                        <li><a href="{:url('index')}" >网站首页</a></li>

                        <li><a href="{:url('index/about/index')}" >关于我们</a></li>

                        <li><a href="{:url('index/pro/index')}" >产品展示</a></li>

                        <li><a href="{:url('index/news/index')}" >新闻资讯</a></li>

                        <!--<li><a href="{:url('index/ser/index')}" >服务支持</a></li>-->

                        <li><a href="{:url('index/cantact/index')}" >联系我们</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 foot-contact">
                <div class="fot-box"> <h3 class="fot-title dark-title"><a href="{:url('index/cantact/index')}" >联系我们</a></h3>
                    <div class="media fot-contact">
                        <div class="media-body">
                            <p> <i class="fa fa-phone"></i> 手机： {$system['contact_mobile']}</p>
                            <p> <i class="fa fa-envelope"></i> 邮箱： {$system['contact_email']}</p>
                            <p> <i class="fa fa-map-marker"></i> 地址：{$system['contact_address']} </p>
                            <p> <i class="fa fa-phone"></i> 全国热线： {$system['contact_phone']}</p>
                            <!--<p> <i class="fa fa-print"></i> 传真：{$system['contact_address']} </p>-->
                            <!--<p> <i class="fa fa-home"></i> 网址： </p>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 foot-qrcode">
                <div class="fot-box">
                    <h3 class="fot-title">扫描二维码</h3>
                    <div class="media f-qrcode"> <img src="{$system['qrcode']}" width="200px" /> </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer-absolute">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-2 col-sm-12 col-xs-12 foot-left">
                <div class="copy">
                    <p><span>{$system['copyright']}</span> </p>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 hidden-sm hidden-xs foot-mid">
                <!--<p class="text-center logo-p foot-logo"><img src="{$system['logo_bottom']}"  alt="Logo"/></p>-->
            </div>
            <div class="col-lg-5 col-md-2 col-sm-12 col-xs-12 hidden-sm hidden-xs foot-right">
                <div class="social-box">
                    <ul class="social-links">
                        <!--<li><a href="http://www.weibo.com/"  target="_blank"><i class="fa fa-weibo"></i></a></li>-->
                        <!--<li><a href="http://t.qq.com/"  target="_blank"><i class="fa fa-tencent-weibo"></i></a></li>-->
                        <li><a href="http://wpa.qq.com/msgrd?v=3&uin={$system.qq}&site=qq&menu=yes"  target="_blank"><i class="fa fa-qq"></i></a></li>
                        <li><a href="{$system.tmall}"  target="_blank"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<a class="scroll-top"><i class="fa fa-long-arrow-up"></i></a>
</div>
<script src="__JS__/jquery.themepunch.tools.min.js" ></script>
<script src="__JS__/jquery.themepunch.revolution.min.js" ></script>
<script src="__JS__/owl.carousel.js" ></script>
<script src="__JS__/jquery.magnific-popup.js" ></script>
<script src="__JS__/jquery.prettyphoto.js" ></script>
<script src="__JS__/waypoints.min.js" ></script>
<script src="__JS__/cssua.min.js" ></script>
<script src="__JS__/custom.js" ></script>
<nav id="mmenu" class="noDis">
    <div class="mmDiv">
        <div class="MMhead">
            <a href="#mm-0" class="closemenu noblock">x</a>
            <a href="http://www.weibo.com/" target="_blank" class="noblock">
                <i class="fa fa-weibo"></i>
            </a>
            <a href="http://t.qq.com/" target="_blank" class="noblock">
                <i class="fa fa-tencent-weibo"></i>
            </a>
            <!--<a href="" target="_blank" class="noblock">English</a>-->
        </div>

        <ul>
            <li class="m-Lev1"><a href="{:url('index/index/index')}" >网站首页</a></li>
            <li class="m-Lev1">
                <a href="{:url('index/about/index')}"  class="m-menu1">关于我们</a>
            </li>
            <li class="m-Lev1">
                <a href="{:url('index/pro/index')}" class="m-menu1">产品展示</a>
                <ul class="m-submenu">
                    {foreach $system['type']['product'] as $value}
                    <li class='Lev2'>
                        <a class='m-menu2' href="{:url('index/pro/index',['type'=>$value['type']])}">{$value['name']}</a>
                    </li>
                    {/foreach}
                </ul>
            </li>
            <li class="m-Lev1"><a href="{:url('index/news/index')}" class="m-menu1">新闻资讯</a>
                <ul class="m-submenu">
                    {foreach $system['type']['news'] as $value}
                    <li class='Lev2'><a class='m-menu2' href="{:url('index/news/index',['type'=>$value['type']])}">{$value['name']}</a></li>
                    {/foreach}
                </ul>
            </li>
           <!-- <li class="m-Lev1"><a href="{:url('index/ser/index')}" class="m-menu1">服务支持</a>
                <ul class="m-submenu">
                    {foreach $system['type']['service_support'] as $value}
                    <li class='Lev2'><a class='m-menu2' href="{:url('index/ser/index',['type'=>$value['type']])}">{$value['name']}</a></li>
                    {/foreach}
                </ul>
            </li>-->
            <li class="m-Lev1"> <a href="{:url('index/cantact/index')}"  class="m-menu1">联系我们</a>  </li>
        </ul>
    </div>
</nav>
<link type="text/css" rel="stylesheet" href="__CSS__/jquery.mmenu.all.css"  />
<script type="text/javascript" src="__JS__/jquery.mmenu.all.min.js" ></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        var mmenu=$('nav#mmenu').mmenu({
            slidingSubmenus: true,
            classes		: 'mm-white', //mm-fullscreen mm-light
            extensions	: [ "theme-white" ],
            offCanvas	: {
                position: "right", //left, top, right, bottom
                zposition: "front" //back, front,next
                //modal		: true
            },
            searchfield		: false,
            counters		: false,
            //navbars		: {
            //content : [ "prev", "title", "next" ]
            //},
            navbar 		: {
                title : "网站导航"
            },
            header			: {
                add		: true,
                update	: true,
                title	: "网站导航"
            }

        });
        $(".closemenu").click(function() {
            var mmenuAPI = $("#mmenu").data( "mmenu" );
            mmenuAPI.close();
        });
    });
</script>
</body>
</html>