{layout name="common/other" /}
<div class="about-page-wrap">
    <div class="com-cnt page-content">
        {$system.cantact_us}
    </div>
    <div id="contact-wrap">
        <h3 class="msg-title">给我们留言</h3>
        <form action="{:url('index/index/zt_email_send')}" class="add-msg-form" id="contact-form" enctype="multipart/form-data" method="post" onsubmit="return checkForm();">
            <input type="hidden" name="action" value="post">
            <input type="hidden" name="diyid" value="1">
            <input type="hidden" name="do" value="2">
            <div class="row">
                <div class="cf-column col-md-6">
                    <input name="zt" id="zt" type="text" placeholder="主题" validate="minlength:2, maxlength:50, required:true">
                </div>
                <div class="cf-column col-md-6">
                    <input name="name" id="name" type="text" placeholder="名字" validate="minlength:2, maxlength:50, required:true">
                </div>
                <div class="cf-column col-md-6">
                    <input name="email" id="email" type="text" placeholder="邮箱" validate="maxlength:40, required:true, email:true">
                </div>
                <div class="cf-column col-md-6">
                    <input name="tel" id="tel" type="text" placeholder="电话/手机" validate="minlength:6,maxlength:40, required:true">
                </div>
                <div class="cf-column col-md-12 cf-tarea">
                    <textarea name="content" id="content" placeholder="留言内容" validate="minlength:2, maxlength:200, required:true"></textarea>
                </div>
                <input type="hidden" name="dede_fields" value="name,text;tel,text;email,text;content,multitext;cp,text;zt,text">
                <input type="hidden" name="dede_fieldshash" value="7ec7c442f925caa0891825e6fa521dd0">
                <div class="cf-column col-md-12 submit-column">
                    <button type="submit" id="submit-btn" class="submit-button">立即提交</button>
                </div>
            </div>
        </form>
        <script type="text/javascript">
            function checkForm()
            {
                if(document.getElementById('name').value.length == 0)
                {
                    alert('请输入您的姓名');
                    return false;
                }
                if(document.getElementById('tel').value.length == 0)
                {
                    alert('请输入您的电话');
                    return false;
                }

                return true;
            }
        </script>
        <script type="text/javascript" src="__JS__/jquery.form.js"></script>
        <script type="text/javascript" src="__JS__/jquery.artdialog.js"></script>
        <script type="text/javascript" src="__JS__/iframetools.js"></script>
    </div>
</div>